.main {
  border-radius: 0.3rem;
  border: 0.35rem solid rgb(235, 243, 249);
  box-shadow: 0 0 0 0.15rem hwb(208 77% 4%);
  outline: 0.15rem solid hsl(207, 51%, 88%);
  margin: 10rem auto;
  width: 85%;
  height: 50%;
  cursor: pointer;
  background-color: azure;
  font-family: arial black;
  font-size:1.2rem;
}
table {
  border-collapse: collapse;
  align-self: flex-start;
}
td,
th {
  border: 1px solid black;
  padding: 10px 20px;
}

.contactInfo {
  border:none;
}
